.blackButton {
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 24px;
    outline: none;
    border: none;
    border-radius: 12px;
    transition: 150ms ease;
    cursor: pointer;
}

.blackButton:hover {
    transform: scale(1.01);
    background-color: #0b0b0b;
}

.blackButton:active {
    transform: scale(0.99);
    background-color: black;
}

/* Неактивное состояние */
.blackButton.unactive {
    background-color: rgb(100, 100, 100); 
    color: rgba(255, 255, 255, 0.7);
    cursor: not-allowed;
    transform: none !important; 
}

.blackButton.unactive:hover {
    background-color: rgb(100, 100, 100); 
    transform: none; 
}


.blackButton.unactive:active {
    background-color: rgb(100, 100, 100); 
    transform: none; 
}