.comment .row {
    display: flex;
    max-width: 600px;
    flex-direction: row;
}

.comment {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    display: flex;
    width: fit-content;
    max-width: 600px;
    margin-bottom: 20px;
}

.comment .circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #DFF2F0;

    margin-right: 15px;
}

.comment .likeButton {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    background-image: url('../assets/like.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: 100ms ease-in-out;
}

.comment .dislikeButton {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    background-image: url('../assets/dislike.svg');
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 10px;
    transition: 100ms ease-in-out;
}

.comment .bottomRow {
    margin-left: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.comment .bottomRow button {
    cursor: pointer;
}

.comment .data {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.comment .text {
    display: flex;
    flex-wrap: wrap;
}

.comment .answerButton {
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-left: 30px;
    padding: 0;
}

.comment .author {
    font-weight: bold;
}

.comment .answerButton:hover {
    color: grey;
}

.comment .likeButton:hover, .comment .dislikeButton:hover {
    transform: translateY(1px);
}