.fullHeightContainer {
    background-color: #2B7A77;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.mainContainer {
    background-color: #DFF2F0;
    background-image: url('../../public/login-decorate-img.png');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 600px;
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header, footer {
    background-color: #2B7A77;
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
}

.footer p {
    text-align: center;
}

.logo {
    margin: 0;
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    
    color: white;
    text-shadow: 0px 4px 4px 0px #00000040;

}

.mainContainer form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 10px 26px;
}

.mainContainer form {
    background-color: #2B7A77;
    border: 6px solid black;
    border-radius: 26px;
    max-width: 500px;
    margin-left : 10%;
}

.mainContainer form span{
    font-weight: 500;
    font-size: 40px;
    color: white;
    margin-top: 10px;
    text-shadow: 0px 4px 4px 0px #00000040;
}

.mainContainer form input {
    border: 2px solid black;
    margin-top: 20px;
    padding: 12px 24px;
    padding-left: 20px;
    width: 240px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.mainContainer form button {
    background-color: #17242C;
    font-weight: 900;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: white;
    cursor: pointer;
    padding: 16px 66px;
    border-radius: 60px;
    outline: none;
    border: none;
    transition: 150ms ease;
    margin-top: 20px;
}

.mainContainer form button:hover {
    background-color: #1b2b35;
    transform: scale(1.005);
}

.mainContainer form a {
    color: white;
    display: inline;
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}

.mainContainer .error {
    border: 2px solid red;
}

.mainContainer .errorLine {
    color: red;
    font-size: 20px;
}

@media (max-width: 999px) {
    .mainContainer {
      background-image: none; /* Скрываем изображение */
    }

    .mainContainer form {
        width: 100%;
        margin: 0;
        border: none;
    }

    .mainContainer {
        justify-content: center;
    }
  }