/* Базовые стили */
.mainContainer h1, p {
    margin: 0;
}

.mainContainer {
    background-color: #DFF2F0;
    font-family: "Inter";
    color: white;
}

.slogan {
    padding: 40px 0;
    font-weight: 600;
    font-size: 65px;
    line-height: 100%;
    letter-spacing: 0%;
    /* box-shadow: 0px 4px 4px 0px #00000040; */
    text-decoration: underline;
    text-decoration-color: #3AAFA9;
    text-decoration-thickness: 1px;
    text-underline-offset: 20px;
}

.underSlogan {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-bottom: 40px;
}

.eventsSection {
    background-color: #DFF2F0;
    color: black;
}

.eventsSection h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}
/* Конец базовых стилей */

/* Стили для верхней секции */
.topSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topSectionTextblock {
    padding: 0 10vw;
}

.island {
    background-color: #2B7A77;
    display: inline;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 16px 30px;
    border-radius: 70px;
    gap: 30px;
    margin: 30px 0;
    position: relative;
}

.island .logo {
    color: black;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
}

.island a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.topSectionSearch input {
    border-radius: 70px;
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid white;
}

.topSectionTextblock {
    text-align: center;
    background-color: #fff;
}

.topSectionSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}
.islandSearchBtn {
    width: 40px;
}

/* Конец стилей верхней секции */

/* Стили для секции событий */

.eventsSection h2 {
    color: #17242C;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.eventsBlock, .searchedEventsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 40px;
}
.islandBlock {
    background-color: #DFF2F0;
}

.topSection {
    background-color: #DFF2F0;
}

.dateEventsBlock {
    display: flex;
    justify-content: center;
}

.chooseDateBlock {
    border-radius: 20px;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.chooseDateBlock label {
    display: block;
}

.chooseDateInputGroup {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 20px;
}

.chooseDateBlock button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 0;
    width: auto;
    cursor: pointer
}

.searchedEventsBlock {
    padding: 40px 0;
}

.searchBlock h2 {
    margin: 0;
    margin-bottom: 12px;
}

.eventsSearch {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchBlock {
    width: fit-content;
    background-color: #286A6B;
    text-align: center;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 24px;
}

.searchSlogan {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 10px;
}

.searchBlock h2 {
    font-weight: 400;
}

.search {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width : 500px;
    padding: 8px 14px;
    font-size: 20px;
    border: 2px solid white;
    background: none;
    border-radius: 20px;
    background-image: url('../assets/serach_lupa.png');
    background-repeat: no-repeat;
    background-position: 2% 50%;
}

.search input:focus {
    background: none;
    background-color: white;
    outline: none;
}

.searchBtn {
    border: none;
    background-color: #17242C;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 300;
}

.search .searchBtn {
    position: relative;
    left: -100px;
    top: 20%;
}


.dropdown {
    position: absolute;
    /* появляется прямо под родителем */
    top: 100%;
    right: -5%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000; /* поверх других элементов */
    width: 200px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    cursor: pointer;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.dropdown li:hover {
    background: #f5f5f5;
}
.dropdown a {
    color: black;
    margin: 0;
    padding: 0;
}

.oneDaySearch label{
    font-size: 14px;
    color: rgb(70, 70, 70);
    margin-top: 8px;
}

.oneDaySearch input {
    margin-left: 1px;
}

.chooseDateInputGroup .rightPart {
    
}