body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.ratingPage .main {
    padding: 0 80px;
    background-color: #DFF2F0;
    min-height: 90vh;
}

.ratingPage h1 {
    margin: 0;
    margin-bottom: 12px;
}

.ratingPage .main h1 {
    text-align: center;
    color: black;
    font-size: 46px;
    padding-top: 20px;
}

.ratingPage table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.ratingPage th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: center;
}

.ratingPage th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.ratingPage tr {
    background-color: #fff;
}

.ratingPage tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ratingPage tr:hover {
    background-color: #e9e9e9;
}

.ratingPage .tableContainer {
    height: 85vh;
    max-height: 85vh;
    overflow-y: auto;
}

.ratingPage .tableContainer table {
    margin: 0;
}

.ratingPage tr.active {
    background-color: #88b0ae;
}

@media (max-width: 800px) {
    .ratingPage .main {
        padding: 10px;
    }
}